<!DOCTYPE html>
<html lang="en" ng-app="coachella">
<head>
	<title>Coachella LP</title>
	
	<base href="/">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=640">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	<link rel="apple-touch-icon-precomposed" href="assets/img/touchicon.png" type="image/png">
	<link rel="shortcut icon" href="assets/img/touchicon.png" type="image/png">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="assets/css/base.css" type="text/css">
	
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body ng-controller="AppCtrl">

<div id="app">
	<header class="navbar navbar-default tablify">
		<h1 title="Coachella Lineup Planner">Coachella LP</h1>
		<div ng-show="year = $state.params.year">
			<select ng-model="year" ng-change="$state.go('year', {year: year})" class="form-control">
				<option>2014</option>
				<option>2015</option>
			</select>
		</div>
		<nav>
			<div ng-show=" ! $me.uid">
				<button ng-click="$auth.$authWithOAuthPopup('facebook')" class="btn btn-social btn-facebook"><i class="fa fa-facebook"></i> Login with Facebook</button>
			</div>
			<div ng-show="$me.uid">
				Logged in as <strong><span ng-bind="$me.facebook.displayName"></span> <img ng-src="http://graph.facebook.com/{{ $me.facebook.id }}/picture?type=square" width="34" height="34"></strong> <button ng-click="$auth.$unauth()" class="btn btn-facebook">Logout</button>
			</div>
		</nav>
	</header>
	<ui-view autoscroll="false"></ui-view>
</div>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
	
	<script src="//cdn.firebase.com/js/client/2.0.6/firebase.js"></script>
	<script src="//cdn.firebase.com/js/simple-login/1.6.4/firebase-simple-login.js"></script>
	<script src="//cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
	
	<script src="assets/js/base.js"></script>
	<script>
		// Load FB SDK asynchronously
		window.fbAsyncInit = function() {
			FB.init({
				appId:   '601345903279080',
				version: 'v2.2'
			});
		};
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
</body>
</html>