<table class="table" ng-controller="BandsCtrl">
	<thead>
		<th ng-click="toggleOrder('day')">Day<span ng-show="orderByStr == 'day'" class="sort-arrow" ng-class="{reverse: orderByDir}"></span></th>
		<th ng-click="toggleOrder('name')">
			<ul ng-click="$event.stopPropagation()" class="list-unstyled btn-group pull-right">
				<li ng-repeat="(day_id, day) in ['All Days', 'Day 1', 'Day 2', 'Day 3']" ng-click="$parent.filterDay = day_id" class="btn btn-xs btn-default" ng-class="{'btn-primary': filterDay == day_id}">
					{{ day }}
				</li>
			</ul>
			Band<span ng-show="orderByStr == 'name'" class="sort-arrow" ng-class="{reverse: orderByDir}"></span>
		</th>
		<th ng-click="toggleOrder('vote')">My Vote<span ng-show="orderByStr == 'vote'" class="sort-arrow" ng-class="{reverse: orderByDir}"></span></th>
		<th ng-if="$auth.user" ng-click="toggleOrder('score')">Votes<span ng-show="orderByStr == 'score'" class="sort-arrow" ng-class="{reverse: orderByDir}"></span></th>
	</thead>
	<tbody>
		<tr ng-repeat="band in bands | orderBy:orderBy:orderByDir | filter:(filterDay ? {day:filterDay} : null)" ng-controller="BandCtrl" ng-init="init(band)">
			<td>{{ band.day }}</td>
			<td>{{ band.name }}</td>
			<td class="buttons">
				<div class="btn-group">
					<button ng-click="vote(band.$id, -1)" class="btn btn-default btn-sm" ng-class="{'btn-danger':  $auth.user ? band.votes[$auth.user.uid].vote == -1 : false}" title="Nope"><i class="glyphicon glyphicon-thumbs-down"></i></button>
					<button ng-click="vote(band.$id, 1)" class="btn btn-default btn-sm" ng-class="{'btn-warning': $auth.user ? band.votes[$auth.user.uid].vote == 1 : false}" title="Sure"><i class="glyphicon glyphicon-thumbs-up"></i></button>
					<button ng-click="vote(band.$id, 2)" class="btn btn-default btn-sm" ng-class="{'btn-success': $auth.user ? band.votes[$auth.user.uid].vote == 2 : false}" title="Definitely"><i class="glyphicon glyphicon-star"></i></button>
				</div>
			</td>
			<td ng-if="$auth.user" class="voters">
				<ul class="list-unstyled">
					<li ng-repeat="(user_id, vote) in band.votes">
						<div class="btn btn-xs" ng-class="{'btn-danger': vote.vote == -1, 'btn-warning': vote.vote == 1, 'btn-success': vote.vote == 2}">
							<img ng-src="http://graph.facebook.com/{{ users[user_id].id }}/picture?type=square" width="24" height="24" title="{{ users[user_id].displayName }}" style="margin-left: -4px; margin-right: -4px;">
						</div>
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>