<div class="tablify">
	<div id="table">
		<table class="table" ng-controller="BandsCtrl">
			<thead>
				<th ng-click="toggleOrder('day')">Day<span ng-show="orderByStr == 'day'" class="sort-arrow" ng-class="{reverse: orderByDir}"></span></th>
				<th ng-click="toggleOrder('name')">
					<ul ng-click="$event.stopPropagation()" class="list-unstyled btn-group pull-right">
						<li ng-repeat="(day_id, day) in ['All Days', 'Day 1', 'Day 2', 'Day 3']" ng-click="$parent.filterDay = day_id" class="btn btn-xs btn-default" ng-class="{'btn-primary': filterDay == day_id}">
							{{ day }}
						</li>
					</ul>
					Band<span ng-show="orderByStr == 'name'" class="sort-arrow" ng-class="{reverse: orderByDir}"></span>
				</th>
				<th ng-click="toggleOrder('vote')">My Vote<span ng-show="orderByStr == 'vote'" class="sort-arrow" ng-class="{reverse: orderByDir}"></span></th>
				<th ng-if="group" ng-click="toggleOrder('score')">Votes<span ng-show="orderByStr == 'score'" class="sort-arrow" ng-class="{reverse: orderByDir}"></span></th>
			</thead>
			<tbody>
				<tr ng-repeat="band in bands | orderBy:orderBy:orderByDir | filter:(filterDay ? {day:filterDay} : null)" ng-controller="BandCtrl" ng-init="init(band)">
					<td>{{ band.day }}</td>
					<td>{{ band.name }}</td>
					<td class="buttons">
						<div class="btn-group">
							<button ng-click="vote(band.$id, -1)" class="btn btn-default btn-sm" ng-class="{'btn-danger':  $me.uid ? band.votes[$me.uid].vote == -1 : false}" title="Nope"><i class="glyphicon glyphicon-thumbs-down"></i></button>
							<button ng-click="vote(band.$id, 1)" class="btn btn-default btn-sm" ng-class="{'btn-warning': $me.uid ? band.votes[$me.uid].vote == 1 : false}" title="Sure"><i class="glyphicon glyphicon-thumbs-up"></i></button>
							<button ng-click="vote(band.$id, 2)" class="btn btn-default btn-sm" ng-class="{'btn-success': $me.uid ? band.votes[$me.uid].vote == 2 : false}" title="Definitely"><i class="glyphicon glyphicon-heart"></i></button>
						</div>
					</td>
					<td ng-if="group" class="voters">
						<ul class="list-unstyled">
							<li ng-repeat="vote in band.votes | filterVotesByGroup:group">
								<div class="btn btn-xs" ng-class="{'btn-danger': vote.vote == -1, 'btn-warning': vote.vote == 1, 'btn-success': vote.vote == 2}">
									<img ng-src="http://graph.facebook.com/{{ vote.$user.facebook.id }}/picture?type=square" width="24" height="24" title="{{ vote.$user.facebook.displayName }}" style="margin-left: -4px; margin-right: -4px;">
								</div>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<aside id="sidebar" ng-controller="GroupsCtrl" class="well well-sm">
		<h3>Cast Your Votes</h3>
		<p>How do you feel about each of the bands playing at Coachella?</p>
		<p>Here's a quick rubric:</p>
		<p id="legend">
			<div class="btn-group">
				<button class="btn btn-sm btn-default" title="I'd like to avoid this band"><i class="glyphicon glyphicon-thumbs-down"></i> Nope</button>
				<button class="btn btn-sm btn-default" title="I wouldn't mind seeing this band"><i class="glyphicon glyphicon-thumbs-up"></i> Sure</button>
				<button class="btn btn-sm btn-default" title="I would LOVE to see this band"><i class="glyphicon glyphicon-heart"></i> Definitely</button>
			</div>
		</p>
		<p><small>(Then you can sort by votes to see which bands you all want to see the most.)</small></p>
		<hr>
		<div ng-if="group">
			<h3>Group Members</h3>
			<ul class="list-group">
				<li ng-repeat="user in users | orderBy:'facebook.displayName'" class="list-group-item">
					<div class="tablify">
						<span>
							<img ng-src="http://graph.facebook.com/{{ user.facebook.id }}/picture?type=square" width="32" height="32" title="{{ user.facebook.displayName }}">
						</span>
						<span ng-bind="user.facebook.displayName"></span>
						<span>
							<button ng-if="userInGroup($me.uid, group)" ng-click="removeUserFromGroup(user.$id, group.$id, $state.params.year, $event.shiftKey)" class="btn btn-xs btn-close">&times;</button>
						</span>
					</div>
				</li>
			</ul>
			<footer ng-if="userInGroup($me.uid, group)">
				<button ng-click="invite(group)" class="btn btn-primary">Add Friends</button>
			</footer>
			<aside ng-if=" ! userInGroup($me.uid, group)">
				<hr>
				<h3>Create Group</h3>
				<div ng-if="$me.uid">
					<div ng-if="$me.$defaultGroup">
						<p>You're currently looking at someone else's group. Do you want to go to the group with your own friends?</p>
						<a ui-sref="year.group({year: $state.params.year, group: $me.$defaultGroup})" class="btn btn-primary">View My Group</a>
					</div>
					<div ng-if=" ! $me.$defaultGroup">
						<p>You're currently looking at someone else's group. Do you want to make a group with your own friends?</p>
						<button ng-click="invite()" class="btn btn-primary">Add Friends</button>
					</div>
				</div>
				<div ng-if=" ! $me.uid">
					<p>Are you a part of this group? Do you want to make a group with your own friends? Login to compare your picks.</p>
					<button ng-click="$auth.$authWithOAuthPopup('facebook')" class="btn btn-social btn-facebook"><i class="fa fa-facebook"></i> Login with Facebook</button>
				</div>
			</aside>
		</div>
		<div ng-if=" ! group">
			<h3>Create Group</h3>
			<p>Who else is going with you this year? Add them to a new group so you can tally which bands you all want to see.</p>
			<button ng-click="invite()" class="btn btn-primary">Add Friends</button>
		</div>
	</aside>
</div>