/* variables */
@darkest:  #000;
@darker:   #333;
@dark:     #666;
@neutral:  #828282;
@light:    #999;
@lighter:  #CCC;
@lightest: #FFF;

@u: 10px;
@t: 300ms;

@facebook: #3b5998;

/* tags */
img {
	border-radius: 4px;
	vertical-align: middle;
	border: solid 1px @neutral;
}

/* template */
h1 {
	padding: @u;
}
nav {
	text-align: right;
	padding: @u;
	
	img {
		margin-left: @u/2;
	}
	.btn {
		margin-left: @u/2;
	}
}

.tablify {
	display: table;
	width: 100%;
	margin: 0;
	
	> * {
		display: table-cell;
		vertical-align: middle;
	}
}
.btn {
	&.btn-facebook {
		background-color: @facebook;
		color: #FFF;
	}
}

ul {
	&.list-unstyled {
		margin: 0;
	}
}

th {
	user-select: none;
	
	.sort-arrow {
		display: inline-block;
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-top: 0;
		border-bottom: 10px solid @light;
		margin-left: @u/2;
		
		&.reverse {
			border-top: 10px solid @light;
			border-bottom: 0;
		}
	}
	ul {
		margin: -1px 0 !important;
	}
}
td {
	&.buttons {
		vertical-align: middle !important;
		padding: 0 !important;
	}
	&.voters {
		vertical-align: middle !important;
		padding: 0 !important;
		
		ul {
			margin: 0;
			
			li {
				display: inline-block;
				margin-right: @u/2;
			}
		}
	}
}
.table {
	th,
	td {
		&:nth-child(1),
		&:nth-child(3) {
			text-align: center;
		}
	}
}


#sidebar {
	vertical-align: top;
	padding: @u;
	border-radius: 0;
}