@import "css3.inc.less";

/* variables */
@darkest:  #000;
@darker:   #333;
@dark:     #666;
@neutral:  #828282;
@light:    #999;
@lighter:  #CCC;
@lightest: #FFF;

@u: 10px;
@t: 300ms;

/* tags */
* {
	.box-sizing;
}
html,
body {
	//width: 100%;
	//height: 100%;
	padding: 0;
	margin: 0;
}
body {
	
}

/* template */
#header {
	
}
#content {
	
}
#footer {
	
}